<?xml version="1.0"?>
<robot name="bound2">
  <link name="bound2">
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 -3.5 0"/>
      <geometry>
        <box size="15 0 10"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0 -3.5 0"/>
      <geometry>
        <box size="15 0 10"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 0"/>
      </material>
    </visual>
  </link>
</robot>
