<?xml version="1.0"?>
<robot name="obs_3">
  <link name="obs_3">
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="-3.97674405 1.28343045 0"/>
      <geometry>
        <box size="1.7616279 2.2587209 5"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="-3.97674405 1.28343045 0"/>
      <geometry>
        <box size="1.7616279 2.2587209 5"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
</robot>
